#main {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  display: flex;
  background: transparent;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}
.imglogo img {
  width: 100px;
  height: 80px;
  border-radius: 10px;
  padding: 0.5rem;
}